@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&family=Roboto+Condensed:wght@300;700&display=swap');

:root {
  --primary-font: 'Raleway', sans-serif;
  --secondary-font: 'Roboto Condensed', sans-serif;
  --primary-color: #4792a5;
  --light-color: #efefef;
  --dark-color: #3c3c3c;
  --general-transition: all .4s ease;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-color);
  font-family: var(--primary-font);
}

section {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
}

button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: var(--secondary-font);
}

html {
  font-size: 10px;
  color: var(--dark-color);
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.nav {
  opacity: 95%;
  background-color: rgba(71, 146, 165, .9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.nav-list {
  display: flex;
}

.nav-list li:last-child {
  padding-right: 0;
}

.nav-item {
  padding: 0 2rem;
}

.nav-link {
  font-size: 1.6rem;
  letter-spacing: .2rem;
  color: var(--light-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  transition: var(--general-transition)
}

.nav-link:hover {
  color: var(--dark-color);
}

.nav-link::after {
  content: '';
  display: block;
  height: .2rem;
  width: 0;
  opacity: 0;
  background-color: var(--dark-color);
  transition: var(--general-transition)
}

.nav-link:hover::after {
  width: 100%;
  opacity: 1;
}

.logo {
  font-size: 4rem;
  text-align: center;
  line-height: 7rem;

  color: var(--light-color);
  transition: var(--general-transition);
}

.logo:hover {
  color: var(--dark-color);

}

.navbar-toggler {
  font-size: 2.2rem;
  position: absolute;
  right: 25px;
  z-index: 100;
  display: none;
}

.navbar-toggler .line {
  width: 2.2rem;
  height: .4rem;
  background-color: var(--dark-color);
  transition: var(--general-transition);
  margin: .5rem;
}

form {
  position: relative;
  display: inline-block;
}